:root {
  --red: #f40000;
  --green: #4cb944;
  --gold: #f9cb40;
  --white: #FEF9EB;
  --black: #0A0908;
}

body {
  background-color: var(--green);
  color: var(--black);
}

.gridClass {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
